.container {
  display: grid;
  grid: 100px 100px / 100px auto 100px 100px;
  // grid-template-columns: 100px auto 100px 100px;
  // grid-template-rows: 100px 100px;
  // grid-auto-flow: dense;
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
  grid-gap: 10px;
  > div {
    background: #373142;
    color: #fff;
    text-align: center;
    line-height: 100px;
  }
}
