html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #111;
  color: #fff;
}

.col {
  background: #333;
  overflow-y: scroll;
}

.col-header {
  padding: 15px 10px 10px;
  background: #222;
  height: 100%;
  h3 {
    margin: 0;
  }
}

.controls {
  grid-row: 1 / -1;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet {
  padding: 10px;
  border-bottom: solid 1px #444;
  display: grid;
  grid-template-columns: 60px auto;
  img {
    border-radius: 50%;
    grid-row: 1 / -1;
  }
  > p,
  > div {
    margin-top: 0;
    grid-column: 2 / -1;
  }
}

.grid {
  display: grid;
  height: 100vh;
  grid-column-gap: 7px;
  grid-auto-flow: column;
  grid-template: 52px auto / 50px;
  grid-auto-columns: 270px;
}
