@font-face {
  font-family: "Material-Design-Icons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.ttf")
      format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/Material-Design-Icons.svg#Material-Design-Icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="mdi-"],
.select-wrapper span.select-dropdown:after,
[class*=" mdi-"] {
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-edit:before {
  content: "\e7fc";
}

.mdi-maps-local-pizza:before {
  content: "\e87e";
}

body {
  background: #eee;
}

.container {
  width: 350px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

.toggle {
  display: block;
  width: 350px;
  margin: 20px auto;
  background: #2980b9;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.container article {
  background: #fff;
  padding: 0 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.08);
}

h4 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
}

.action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.main-button {
  color: #fff;
  background: red;
  border-radius: 50%;
  display: block;
  position: relative;
  width: 55px;
  height: 55px;
  line-height: 52px;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.main-button > * {
  transition: 0.3s all ease;
}

.main-button .mdi-edit {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.main-button:hover .plus {
  opacity: 0;
  transform: rotate(180deg);
}

.main-button:hover .mdi-edit {
  opacity: 1;
}

.main-button:hover + .sub-buttons li,
.sub-buttons:hover li {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.sub-buttons {
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  bottom: 55px;
}

.sub-buttons li {
  transition: 0.3s all ease;
  transform: translate3d(0, 15px, 0) scale(0.6);
  opacity: 0;
  background: #3498db;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 0.6em;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sub-buttons li:nth-child(1) {
  transition-delay: 0.2s;
}

.sub-buttons li:nth-child(2) {
  transition-delay: 0.1s;
}

.sub-buttons a {
  font-size: 20px;
  line-height: 35px;
  display: block;
  text-decoration: none;
  color: #fff;
}
