.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  // flex-wrap: wrap;
  > div {
    background: #373142;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    &:nth-child(2) {
      height: 150px;
      flex: 0 1 auto;
    }
    &:nth-child(3) {
      flex-grow: 3;
      height: 150px;
      align-self: flex-end;
    }
  }
}
