.container {
  display: grid;
  // grid: 100px / repeat(3, 100px) auto;
  // grid: 100px / repeat(3, auto 50px);
  grid: 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
  > div {
    background: #373142;
    color: #fff;
    text-align: center;
    line-height: 100px;
  }
}
