body {
  background: #eee;
}

.container {
  width: 350px;
  margin: 20px auto;
  text-align: center;
}

.toggle {
  width: 100%;
  margin-bottom: 10px;
  background: #2980b9;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.container article {
  background: #fff;
  padding: 0 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.08);
}

h4 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
}
