body {
  padding: 40px 5%;
}
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #e74c3c;
  color: #333;
  transform: translate3d(100%, 0, 0);
  transition: 0.4s all cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.nav.open {
  transform: translate3d(0, 0, 0);
  transition: 0.4s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav.open ul > li > a {
  transform: translate3d(40px, 0, 0);
  animation: inertia 0.6s cubic-bezier(0.68, -0.55, 0.265, 2.55) 0.1s;
  animation-fill-mode: forwards;
}

@keyframes inertia {
  0% {
    transform: translate3d(40px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nav-toggle {
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 80px;
  text-align: center;
  right: 0;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  background: #000;
}
.interior {
  color: #fff;
  text-align: left;
  width: 90%;
  padding: 40px 5%;
}
.interior h2 {
  border-bottom: solid 1px #fff;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.interior ul {
  list-style: none;
  padding: 0;
}
.interior ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 35px 35px 35px 0;
  font-size: 2em;
  transition: 0.3s ease all;
  font-weight: 100;
}
.interior ul li a:hover {
  padding-left: 35px;
  border-left: 6px #fff solid;
}
