.container {
  height: 100vh;
  display: grid;
  grid: 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
  > div {
    background: #373142;
    color: #fff;
    text-align: center;
    line-height: 100px;
    &:nth-child(1) {
      grid-column: 1 / -1;
    }
    &:nth-child(2) {
      grid-area: 2 / 2 / 5 / 3;
    }
    &:nth-child(3) {
      grid-area: 4 / 4 / 5 / -1;
    }
  }
}
